<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="cfsender" value="ue324560@018ventilation.se" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
    <system.net>
        <mailSettings xdt:Transform="Replace">
            <smtp from="info@018ventilation.se">
                <network host="smtp.unoeuro.com" 
                         enableSsl="true" 
                         userName="ue324560@018ventilation.se" 
                         password="H#lls4ng3ls!!!" />
            </smtp>
        </mailSettings>
    </system.net>
  <system.web>
      <compilation debug="false" xdt:Transform="SetAttributes" />
     <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
 </system.web>
    <system.webServer>
        <rewrite xdt:Transform="Replace">
            <!--<rules>
                <rule name="Host Name www">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">

                        <add input="{HTTP_HOST}" pattern="^www\.018ventilation\.se$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.018ventilation.se/{R:1}" />
                </rule>
                <rule name="http to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://www.018ventilation.se/{R:1}" redirectType="SeeOther" />
                </rule>
            </rules>-->
        </rewrite>
    </system.webServer>
</configuration>